
<link rel="stylesheet" href="{% static 'nav_3_container.css'%}"> 


<div class="card">
        <img class="img-fix" src="../static/images/tony.JPG" alt="tony-selfie" style="width:100%" height="350">
        <h1> Tony Leung </h1> 
        <p class="tony-title"> CEO & Founder </p> 
        <p> Standord University </p> 
<div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
    </div>
  <p><button class="button-click">Contact</button></p> 
</div> 