{% extends "base.html" %}
{% load static %}

{% block title %}
Tobielearn Home Page 
{% endblock%}

{% block content %}
<!-- link to home.css -->
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- link to nav-2-container.css-->
<link rel="stylesheet" href="{% static 'home_animation.css'%}"> 
<!-- link to nav-3-container.css-->
 <link rel="stylesheet" href="{% static 'nav_3_container.css'%}"> 

<!-- Bootstrap JS and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<!-- my own js file -->
  <script src="{% static 'script.js' %}"></script> 

<!-- import css file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

<header> 
<nav class="navbar navbar-expand-custom navbar-mainbg">
  <a class="navbar-brand navbar-logo" href="#">Tobielearn</a>
  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="hori-selector">
        <div class="left"></div>
        <div class="right"></div>
      </div>
      <li class="nav-item">
        <a href= "{% url "login" %}" class="nav-link"><i class="fas fa-tachometer-alt"></i>Signup/login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Goal</a>
      </li>
    </ul>
  </div>
</nav>

<div class="nav_2_container">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <div id='title'>
        <div class="text-content-justify">
            <ul>
            <li>
                <input type="checkbox" /> 
                <div class="text-change">T</div> 
            </li> 
            <li>
            <input type="checkbox" /> 
            <div class="text-change">O</div>
            </li>
            <li>
            <input type="checkbox" />  
            <div class="text-change">B</div> 
            </li>
            <li>
            <input type="checkbox" /> 
            <div class="text-change">I</div> 
            </li>
            <li>
            <input type="checkbox" /> 
            <div class="text-change">E</div>
            </li>
            <li> 
            <input type="checkbox" /> 
            <div class="text-change">L</div> 
            </li>
            <li>
            <input type="checkbox" /> 
            <div class="text-change">E</div>
            </li>
            <li>
            <input type="checkbox" />  
            <div class="text-change">A</div> 
            </li>
            <li>
            <input type="checkbox" /> 
            <div class="text-change">R</div> 
            </li>
            <li> 
                <input type="checkbox"/> 
                <div class="text-change">N</div>
            </li> 
            <br>
        </ul>  
    </div> 
    <div> 
        <span >
          Make a greater learning experience
        </span>
    </div> 
  </div> 
</div> 
<div class="nav_3_container">
<div class="browsing-container">
    <main>
        <header class="browsing-header"> 
            <h2 class="h2-effect subheader">
                Tobielearn
            </h2> 
            <h1 class="h1-effect">
                We aim to provide the best experiecne <em>to our user.</em> 
            </h1> 
            <p class="word-effect">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit ipsam aspernatur quasi reiciendis at eum cupiditate officiis repudiandae quae ea facere odit beatae voluptate recusandae quas, possimus laborum
            inventore.</p>
            </header>

            <img src="https://images.unsplash.com/photo-1558459654-c430be5b0a44?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=960&h=500" alt=""/>

            <section>
      <h2 class="h2-effect">The Client</h2>
      <p class="word-effect">You! Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam voluptatum quidem eligendi debitis quia dignissimos ipsa error, atque quibusdam corrupti soluta facere nulla neque nostrum recusandae assumenda, aspernatur in. Provident!</p>
    </section>

    <section>

      <h2 class="h2-effect">Our Mission</h2>
      <p class="word-effect">To educate the world in web animation. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsa doloremque, natus dolorum a perferendis modi veritatis ab earum, culpa nemo, aliquam qui! Nostrum iste ullam voluptatem, doloribus odit autem.</p>
    </section>
    <div class="callout">
        <h3 class="h3-effect">Get animating!</h3>
      <p class="h2-effect">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur magni dolores iusto nulla vitae, reiciendis amet veritatis aliquam iste temporibus itaque aliquid, eveniet saepe reprehenderit distinctio eaque libero, culpa tenetur.</p>

    </div>
    <img src='https://images.unsplash.com/photo-1603791445824-0050bd436b6d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=960' alt=''>
  </main>
</div>
</div> 

</div> 

<!-- footer -->
 <div class="footer-clean"> 
  <footer class="footer-position"> 
    <div class="container"> 
      <div>
        <div class="col-sm-4 
        col-md-3 item"> 
          <h3> Services</h3> 
          <ul> 
            <li><a href="#">leran-page</a></li> 
          </ul> 
        </div> 
      <div class="col-sm-4 col-md-3 item">
        <h3> About</h3> 
        <ul>
          <li><a href="#">About us</a></li> 
        </ul> 
      </div> 
      <div class="col-sm-4 col-md-3 item"> 
        <h3>Support</h3> 
        <ul> 
          <li><a href="#">support</a></li> 
        </ul> 
      </div> 
       <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Company Name © 2018</p>
       </div>
      </div> 
    </div> 
  </footer> 
</div> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


</header> 

{% endblock%}