<link rel="stylesheet" href="..\static\login.css">
<body>
    <h1> Tobielearn</h1> 
    <div class="left"> 
       <div class="mcontainer"> 
        <div class="signin"> 

              <p class="design"> Start your journey</p> 
              <h2> Sign in to Tobielearn </h2> 
               <form  method="POST"> 
                <div class="username_design"> 
                    <label for="username"> 
                    <div> Username:</div> 
                    </label> 
            <input type="username" id="username" name="username" placeholder="Username or Email"> 
                </div> 

                <div class="password_design"> 

                    <label for="password"> 
                        <div>  Password:</div> 
                  </label> 

            <input type="password" id="password" name="password" placeholder="Password">
                </div> 
    

            <div> 
                <button type="submit" onclick="solve" class="login">
                    Log in 
                </button>
            </div> 

            <div class="or">
                <span>
                    or
                </span>
            </div>

            <div class="other"> 
                <button type="button" class="login-with-google-btn" >
                       Google 
                </button>
                <button type="button" class="login-with-facebook-btn" >
                       Facebook
                </button>

            </div> 
        </div> 

    </form> 
        <p>  
            <a href="{% url "register" %}" style="text-decoration: none; color: blue; padding:3%; cursor:pointer;">Forgot your password?</a>
        </p>

        <p> 
            &nbsp;&nbsp;Don't have an account?
            <a href="{% url "register" %}" style="text-decoration: none; color: blue; padding:3%; cursor:pointer;">Sign up</a>
        </p>
   </div> 

    </body>